<h1>Available flights</h1>

<div class="<%= controller_name %> <%= controller_name %>-<%= action_name %>">
  <%= form_with url: "/flights", method: "get" do %>
    <div class="fields">
      <div class="field">
        <%= label_tag :departure_code, "Departure code" %>
        <%= select_tag :departure_code, options_for_select(@depature_codes) %>
      </div>
      <div class="field">
        <%= label_tag :arrival_code, "Arrival code" %>
        <%= select_tag :arrival_code, options_for_select(@arrival_codes) %>
      </div>
      <div class="field">
        <%= label_tag :num_tickets, "Number of passengers" %>
        <%= select_tag :num_tickets, options_for_select(@num_passengers) %>
      </div>
      <div class="field">
        <%= label_tag :date, "Date" %>
        <%= select_tag :date, options_for_select(@dates) %>
      </div>
      <%= submit_tag "Search" %>
    </div>

  <% end %>

  <% if @matched_flights %>
    <h2>Select the flight</h2>
    <%= form_with url: new_booking_path, method: "get" do |form| %>
      <%= form.collection_radio_buttons(:flight_id, @matched_flights, :id, :details) do |b| %>
        <div class="radio">
          <%= b.label { b.radio_button + b.text } %>
        </div>
      <% end %>
      <%= hidden_field_tag "num_tickets", params[:num_tickets] %>
      <%= form.submit "Submit" %>
    <% end %>
  <% end %>
</div>
