<div class="<%= controller_name %> <%= controller_name %>-<%= action_name %>">
  <div class="container__item logo-cont">
      <div class="logo">
        <h1 class="logo__title">Flight Booker</h1>
        <%= image_tag "plane-icon-original.svg", size: "48", alt: "Airplane icon", class: "logo__img" %>
      </div>
  </div>

  <div class="container__item flight-form-cont">
      <%= form_with url: "/flights", method: "get", class: "form flex-col-cont" do %>
        <div class="fields container__item">
          <div class="field">
            <%= label_tag :departure_code, "Departure code" %>
            <%= select_tag :departure_code, options_for_select(@depature_codes) %>
          </div>
          <div class="field">
            <%= label_tag :arrival_code, "Arrival code" %>
            <%= select_tag :arrival_code, options_for_select(@arrival_codes) %>
          </div>
          <div class="field">
            <%= label_tag :num_tickets, "Number of passengers" %>
            <%= select_tag :num_tickets, options_for_select(@num_passengers) %>
          </div>
          <div class="field">
            <%= label_tag :date, "Date" %>
            <%= select_tag :date, options_for_select(@dates) %>
          </div>
        </div>
        <div class="container__item submit-cont"><%= submit_tag "Search", class: "button" %></div>
      <% end %>
  </div>


  <% if @matched_flights&.any? %>
    <div class="container__item flights-select-cont">
      <div class="flights-select">
        <h2 class="flights-select__title">Select your flight</h2>
        <%= form_with url: new_booking_path, method: "get", class: "flights-select__form select-form" do |form| %>
          <%= form.collection_radio_buttons(:flight_id, @matched_flights, :id, :details) do |b| %>
            <div class="flights-select__item">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
          <%= hidden_field_tag "num_tickets", params[:num_tickets] %>
          <%= form.submit "Submit", class: "select-form__submmit button" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
