<div class="<%= controller_name %> <%= controller_name %>-<%= action_name %>">
  <div class="container page">
    <h1 class="page__title">New booking form</h2>
    <p class="info"><span class="info-type">Flight date:</span> <%= @flight.start_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
    <p class="info"><span class="info-type">Depature airport:</span> <%= @flight.departure_airport.code %></p>
    <p class="info"><span class="info-type">Arrival airport:</span> <%= @flight.arrival_airport.code %></p>
    <%= form_with model: @booking do |form| %>
      <%= form.hidden_field :flight_id %>
      <% if @booking.errors.any? %>
        <div class="errors">
          <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved</h2>
          <ul>
            <% @booking.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p class="info-type">Passengers</p>
      <p class="info-instruct">Please enter information for each passengers</p>
      <%= content_tag :div, nil, data: { controller: "passengers", passengers_number_value: @num_tickets } do %>
        <%= content_tag :div, data: { passengers_target: "form" } do %>
          <%= form.fields_for :passengers, @booking.passengers do |passenger_form| %>
            <div class="passenger" data-passengers-target="passenger">
              <div class="field">
                <%= passenger_form.label :name %>
                <%= passenger_form.text_field :name, placeholder: "Enter your name", required: true %>
              </div>
              <div class="field">
                  <%= passenger_form.label :email %>
                  <%= passenger_form.text_field :email, placeholder: "Enter your email", required: true %>
              </div>
            </div>
          <% end %>
        <% end %>


        <%= button_tag "Add passenger", data: { action: "passengers#append" } %>

        <%= button_tag "Remove", data: { action: "passengers#remove" } %>

        <template data-passengers-target="template" >
          <div class="passenger" data-passengers-target="passenger">
            <div class="field">
                <label for="booking_passengers_attributes___count___name">Name</label>
                <input required placeholder="Enter your name" type="text" name="booking[passengers_attributes][__count__][name]" id="booking_passengers_attributes___count___name">
            </div>
            <div class="field">
                <label for="booking_passengers_attributes___count___email">Email</label>
                <input required placeholder="Enter your email" type="text" name="booking[passengers_attributes][__count__][email]" id="booking_passengers_attributes___count___email">
            </div>
          </div>
        </template>

      <% end %>
      <%= form.submit class: "button primary-btn" %>
    <% end %>
  </div>
</div>
