<div class="<%= controller_name %> <%= controller_name %>-<%= action_name %>">
  <div class="container page">
    <h1 class="page__title">New booking form</h2>
    <p class="info"><span class="info-type">Flight date:</span> <%= @flight.start_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
    <p class="info"><span class="info-type">Depature airport:</span> <%= @flight.departure_airport.code %></p>
    <p class="info"><span class="info-type">Arrival airport:</span> <%= @flight.arrival_airport.code %></p>
    <%= form_with model: @booking do |form| %>
      <%= form.hidden_field :flight_id %>
      <p class="info-type">Passengers</p>
      <p class="info-instruct">Please enter information for each passengers</p>
      <%= content_tag :div, nil, data: { controller: "passenger" } do %>

        <%= @num_tickets.times do |i| %>
          <%= form.fields_for @booking.passengers.build do |passenger_form| %>
            <p class="info-type">Passenger <%= i + 1 %></p>
            <div class="field">
                <%= passenger_form.label :name %>
                <%= passenger_form.text_field :name, placeholder: "Enter your name" %>
            </div>
            <div class="field">
                <%= passenger_form.label :email %>
                <%= passenger_form.text_field :email, placeholder: "Enter your email" %>
            </div>
          <% end %>
        <% end %>

      <% end %>




      <%= form.submit class: "button primary-btn" %>
    <% end %>
  </div>
</div>
